#wrapper {
  width: 750px;
  height: 600px;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 2px;
}
#container {
  width: 750px;
  height: 500px;
  margin: 50px auto;
  box-shadow: 10px 5px 10px;  
}