@media only screen and (min-width: 800px) {
body {
  background-position: center;
  width: 100%;
  background-color: lightgreen;
}
#champ {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
#mu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
#ots {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.sec5 p, .sec6 p {
  font-family: 'PT Sans', sans-serif;
  color: black;
  font-weight: 500;
  font-size: 20px;
}
.ytvid h3 {
  font-weight: 500;
  font-size: 30px;
}
#c1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#champ2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
#oct {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
#cea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
}