body {
  background-position: center;
  width: 100%;
  background-color: lightblue;
}
a:link, a:visited {
  color: black;
  text-decoration: none;
  padding: 1px 12px;
  text-align: center;
  display: inline-block;
}

a:hover, a:active {
  color: gray;
  text-decoration: none;
}
.navigation {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 20px;
  list-style-type: none;
}

.navigation ul li {
  display:inline;
}
.sec1 p {
  color: black;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
h1 {
  letter-spacing: 2px;
  text-align: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-weight: 300;
  font-size: 75px;
}
.sec2  {
  width: 33%;
  float: left;
  font-size: 2.5em;
  text-align: left;
}
h2 {
  text-align: center;
  text-decoration: underline;
  font-family: 'Merriweather', serif;
}
h3 {
  text-align: center;
  text-decoration: underline;
  font-family: 'Merriweather', serif;
}
h4 {
  text-align: center;
  text-decoration: underline;
  font-family: 'Merriweather', serif;
}
.sec2 ul li  {
  font-size:  0.75em;
  
  list-style-type: none;
}
.sec3 ul li  {
  font-size: 	0.75em;
  list-style-type: none;
}

.sec3  {
  width: 33%;
  float: left;
  font-size: 2.5em;
  text-align: left;
}
.sec4  {
  width: 33%;
  float: left;
  font-size: 2.5em;
  text-align: left;
}
#vdsc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#vdbc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#iit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#mu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
#ots {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.sec5 p {
  font-family: 'PT Sans', sans-serif;color: black;
  font-weight: 500;
  font-size: 20px;
}
.sec6 p {
  font-family: 'PT Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.ytvid h3 {
  font-weight: 500;
  font-size: 30px;
	
}
#c1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#oct {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
#cea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}