h1 {   
  text-align: center;
  font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
  font-weight: 300;
  font-size: x-large;
}

#sec1 p {
  color: #1E90FF;
  text-align: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}